<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-component">
  <template>
    <style>
      :host {
        display: block;
      }


      .login {
        width: 400px;
        margin: 16px auto;
        font-size: 16px;
      }

      /* Reset top and bottom margins from certain elements */
      .login-header,
      .login p {
        margin-top: 0;
        margin-bottom: 0;
      }

      /* The triangle form is achieved by a CSS hack */
      .login-triangle {
        width: 0;
        margin-right: auto;
        margin-left: auto;
        border: 12px solid transparent;
        border-bottom-color: #28d;
      }

      .login-header {
        background: #28d;
        padding: 20px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      .login-container {
        background: #ebebeb;
        padding: 12px;
      }

      /* Every row inside .login-container is defined with p tags */
      .login p {
        padding: 12px;
      }

      .login input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 16px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em;
      }

      .login input[type="text"],
      .login input[type="password"] {
        background: #fff;
        border-color: #bbb;
        color: #555;
      }

      /* Text fields' focus effect */
      .login input[type="text"]:focus,
      .login input[type="password"]:focus {
        border-color: #888;
      }

      .login input[type="button"] {
        background: #28d;
        border-color: transparent;
        color: #fff;
        cursor: pointer;
      }

      .login input[type="button"]:hover {
        background: #17c;
      }

      /* Buttons' focus effect */
      .login input[type="button"]:focus {
        border-color: #05a;
      }
    </style>
    <!--h2>Hello [[prop1]]!</h2-->

    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header">Login</h2>

      <form class="login-container">
        <p><input type="text" placeholder="User" name="name" value="{{name::input}}"></p>
        <p><input type="password" placeholder="Password" name="password" value="{{password::input}}"></p>
        <p><input on-click="validar" type="button" value="Registrar"></p>
      </form>
    </div>


  </template>

  <script>

    /**
     * `login-component`
     * login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-component'
          },
          name: {
            type: String,
            value: ''
          },

          password: {
            type: String,
            value: ''
          },

          proplog: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }

      validar(name, password) {
        if (this.name == "miguel" && this.password == "miguel") {
          alert("Acceso correcto..");
          this.set('proplog', true);
          console.log(this.proplog);


        }
        else {
          alert("Por favor ingrese, nombre de usuario y contraseña correctos.");
        }
      }
    }
    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>